<span class="h6 text-white">
    ML and DL enthusiast, Python and Math lover, knowledge seeker, and lifelong learner. Jérémie is currently a student in Artificial Intelligence at the African 
    Institute for Mathematical Sciences, in the Master's in Machine Intelligence (<a class="yellow" href="https://aimsammi.org/">AMMI</a>) program, a pan-African master's program in Artificial
    Intelligence in founded by  Google and Meta.
    Before that, he graduated from <a class="yellow" href="https://sun.ac.za">Stellenbosch University</a> and <a class="yellow" href="https://aims.ac.za">AIMS South Africa</a>  
    in February 2024 with a Master's degree in Mathematical Sciences, where he worked on Mathematical Statistics (<a class="yellow" href="https://en.wikipedia.org/wiki/Functional_data_analysis">Functional Data Analysis</a>). 
    His master's thesis is titled <b>Gaussian Processes for Multivariate Functional Data</b> and is available at the <a class="yellow" href="https://archive.aims.ac.za/">AIMS Archive</a>.<br>
    He also holds a licentiate degree (equivalent to a Bachelor's + 5 years) in Mathematics  from the <a class="yellow" href="https://unikin.ac.cd">University of Kinshasa</a>, where he worked on Functional Analysis and served
    as a teaching assistant and subsidiary lecturer for two years.
  </span>
  <span class="h6 text-white">
    Jérémie is passionate about teaching. He is interested in the <b>theoretical aspects of Machine Learning and/or Deep Learning</b> and their applications. He also has keen interests in Visual Recognition, Reinforcement Learning, and Computer Vision.
  </span>

  <p class="h6 text-white">
    He is an aspiring AI researcher. In his free time, Jérémie is a software developer, apprentice writer, and poet. Feel free to check out his writings below.
  </p>
  