  <!-- <div class="d-flex ">
    <p>Home</p>
    <p> About </p>
  </div> -->

  <div class="row d-flex off-mobile">
    {% if page.title == 'home' or  page.title == 'About'  %}
      <div class=" col-md-4 mobile-h-rule border-dark">
        <!--  Logo image  and profile  -->
          <div   class="img-profile  mx-auto my-auto logo  border-dark ">
            <img src="{{ '/assets/static/jeremie-apic-1.jpeg' | relative_url }}" class="card-img-top  rounded-circle" alt="profile">
          </div>
          <div class=""> 
            <h1 class="h3 text-white text-center"> {{ site.firstName }} <span class="yellow"> {{ site.lastName }} </span></h1>
            <p class=" text-center"> Student in Artifical Intelligence
              <br>
              <a class="yellow mx-2 rs-click" href="https://x.com/ValentinMabiala"><svg  width="24" height="24" fill="#D9D9D9"><use xlink:href="#location"></use></svg>AIMS Senegal</a> 


            </p>
           
            <div class="d-flex justify-content-center">
              <a class="mx-2 rs-click" href="https://x.com/ValentinMabiala"><svg  width="24" height="24" fill="#F90"><use xlink:href="#email"></use></svg></a>
            <a class="mx-2 rs-click" href="https://x.com/ValentinMabiala"><svg  width="24" height="24" fill="#F90"><use xlink:href="#twitter"></use></svg></a>
            <a class="mx-2 rs-click" href="https://www.linkedin.com/in/jnlandu00a/"><svg  width="24" height="24" fill="#F90"><use xlink:href="#linkedin"></use></svg></a>
            <a class="mx-2 rs-click" href="https://x.com/ValentinMabiala"><svg  width="24" height="24" fill="#F90"><use xlink:href="#facebook"></use></svg></a>
            <a class="mx-2 rs-click" href="https://www.github.com/jnlandu"><svg  width="24" height="24" fill="#F90"><use xlink:href="#github"></use></svg> </a>      
            </div>
          </div>
      </div>
      
      <div class="bio-div bio-container col-md-8 mobile-top">
 
        <div class="about">
          <h1 class="text-white"> About Me </h1>
          <p class="bio">
          <span class="yellow"> Welcome!</span> 
            {% include bio.html %}
          </p>
         </div>  
        </div>
        <p class="text-danger"> This site is being currenty updated (and modified). Feel free to 
          contact me, jeremie at aims.ac.za. Sorry, still working on the other devices layout. It only suits for mobile right now.</p>
      {% else %}
        <div class="">
          <!-- <span class="yellow"> Welcome to my blog</span>  -->
          <h1 class="h2 text-center text-white"> AI, Machine Learning, Maths,and Programming Blog </h1>
          <p> <span class="yellow"> Welcome 👋 </span>  to my blog.  I am   <a  class=" text-white " href="{{ site.baseurl}} /about"> {{ site.firstName }}  </span><span class="yellow"> {{ site.lastName }} </span> </a>, currenty student 
            in Artifical Inteliligence. You can find below tutorials, tips, and thoughts.
          </p>
        </div>
      

       
        {% endif %}
         
         <!-- 
        Insert Nav bar here { nav.html}
         -->
   
   
</div>