       <!--  Nav bar  -->
          <div class="nav-rs-container">
          <div class=" mt-0 navbar  navbar-expand-md">
              <button class="navbar-toggler btn-toggler  mr-auto mb-0 bg-yellow " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="nav-menu collapse navbar-collapse " id="navbarSupportedContent">
                <div class="menu-body  navbar-nav">
              
                <a class="nav-link {% if page.title == 'home' %}  nav-item-active-color    {% else %} nav-item-inactive-color {% endif %}  " href="home.html">Home</a>
                <a class="nav-link {% if page.title == 'consulting' %}  nav-item-active-color   {% else %} nav-item-inactive-color {% endif %}  " href="{{ about.html | relative_url }}">About Me</a> 
                <a class="nav-link {% if page.title == 'posts' %}  nav-item-active-color   {% else %} nav-item-inactive-color {% endif %} " href=" posts.html ">Posts</a> 
                <a class="nav-link {% if page.title == 'consulting' %}  nav-item-active-color   {% else %} nav-item-inactive-color {% endif %}  " href=" events.html ">Events</a> 
                <a class="nav-link {% if page.title == 'resume' %}  nav-item-active-color   {% else %} nav-item-inactive-color {% endif %} " href="resume.html " >Resume/Cv</a> 
                <a class="nav-link {% if page.title == 'contact' %}  nav-item-active-color   {% else %} nav-item-inactive-color {% endif %} " href="contact.html"> Contact</a> 
              </div>
          </div>
          </div>
          <div class="rs-mobile">
           
            <a class="mx-2 rs-click" href="https://x.com/ValentinMabiala"><svg  width="24" height="24" fill="#D9D9D9"><use xlink:href="#twitter"></use></svg></a>
            <a class="mx-2 rs-click" href="https://www.linkedin.com/in/jnlandu00a/"><svg  width="24" height="24" fill="#D9D9D9"><use xlink:href="#linkedin"></use></svg></a>
            <a class="mx-2 rs-click" href="https://x.com/ValentinMabiala"><svg  width="24" height="24" fill="#D9D9D9"><use xlink:href="#facebook"></use></svg></a>
            <a class="mx-2 rs-click" href="https://www.github.com/jnlandu"><svg  width="24" height="24" fill="#D9D9D9"><use xlink:href="#github"></use></svg> </a>      
           </div>
          </div>
      </div>

  </div>