<p class="text-white fs-5"> Do you appreciate my work? </p>

 <div class="pb-2 mb-2">
    <button class="contact-btn-mobile  bg-yellow text-center w-100 rounded-top rounded-bottom nav-link text-black mb-3 px-4 fs-5" href="{{ event.url | relative_url }}">
        <svg  width="24" height="28" fill="#D9D9D9">  <use xlink:href="#email"></use></svg> Contact me</button>  

      <!-- <button class="contact-btn-mobile  btn btn-sm rounded  text-dark fs-5 bg-yellow mx-auto px-4 w-100 nav-link"> 
        <svg  width="24" height="28" fill="#D9D9D9">
      </button> -->
  </div>
  <p class="">
      <svg  width="24" height="24" fill="#D9D9D9"><use xlink:href="#email"></use></svg>
      <span class="fs-5 ">Do you want tricks and tutorials?</span> <br>
      Subscribe  to my newsletter to never miss a thing. Tricks, tutorials, snippets in your inbox.
  </p>
      <!--  Form  -->
  <form class="row d-flex justify-content-center align-items-center mb-3 ">
  <div class="input-group col-5 mb-3 flex-fill">
    <span class="input-group-text" id="basic-addon1">@</span>
    <input type="text" class="form-control text-center" placeholder="Your email address" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="col-5  flex-fill">
      <button type="button" class="btn bg-yellow text-dark  ps-5 w-100 fs-5" href="#">Subscribe</button>
  </div>
  <p><small class="fs-6">Worring  about your privacy? Your email is encrypted by our system. It will not be shared with 
    anyone.
  </small> 
  </p>
  </form>
  <!--  Social media  -->
  <div class="rs-other-device">
  <p><span  class="h2 fs-5 ">Follow me :</span> 
    <a class="mx-2 rs-click" href="https://x.com/ValentinMabiala"><svg  width="24" height="24" fill="#D9D9D9"><use xlink:href="#twitter"></use></svg></a>
    <a class="mx-2 rs-click" href="https://www.linkedin.com/in/jnlandu00a/"><svg  width="24" height="24" fill="#D9D9D9"><use xlink:href="#linkedin"></use></svg></a>
    <a class="mx-2 rs-click" href="https://x.com/ValentinMabiala"><svg  width="24" height="24" fill="#D9D9D9"><use xlink:href="#facebook"></use></svg></a>
    <a class="mx-2 rs-click" href="https://www.github.com/jnlandu"><svg  width="24" height="24" fill="#D9D9D9"><use xlink:href="#github"></use></svg> </a>
  </p>
  </div>

  <div class="">
        <p><span class="h2 fs-5">Tutorials and Courses </span>
          <!-- Curious to know what I do? Check out below  my projects and tutorials. -->
        </p>
        <!-- <p class="h2 fs-5">Tutorials</p> -->
         {% for tutorial in site.tutorials limit:3   %}
            <!-- <div class="row  container-fluid d-flex justify-content-center "> -->
            <!-- <div class="col-md-4 flex-fill mr-0 my-1  ">
                <img class="img-fluid" src="{{ tutorial.cover_image }}">
            </div> -->
            <div class="col-md-8 flex-fill me-0 my-3 border-primary">
                {%  if tutorial.paid  %}
                <span class="yellow">FREE!</span>  {{ tutorial.title }}
                {% else %}
                <span class="yellow">PAY!</span> {{ tutorial.title }}
                {% endif %}
                <p> {{ tutorial.summary }} </p>
            </div>
            <div class="d-flex justify-content-center">
                <a class=" bg-yellow text-center w-50 rounded-top rounded-bottom nav-link text-black mb-3" href="{{ tutorial.url | relative_url }}">More<svg width="24" height="24" fill="#black"><use xlink:href="#read"></use></svg></a>  
            </div>
            <!-- </div> -->

        {% endfor %}


        <!--  -->
  </div>
  <!--  Projects  -->
<div class="">
      <p><span class="h2 fs-5">Projects </span>
        <!-- Curious to know what I do? Check out below  my projects and tutorials. -->
      </p>
      <!-- <p class="h2 fs-5">Tutorials</p> -->
      <div class="container-fluid my-3 ">
        <p><a class="code " href="https://www.github.com/jnlandu/">{ code }</a> Aura: AI-powered mobile app <br>
        A small mobile app developed with React Native and OpenAI APIs to generate human-like images. 
      </div>
      <div class="container-fluid my-3 ">
        <p><a class="code " href="https://www.github.com/jnlandu/">{ code }</a> Aura: AI-powered mobile app <br>
        A small mobile app developed with React Native and OpenAI APIs to generate human-like images. 
      </div>
      <div class="container-fluid my-3 ">
        <p><a class="code " href="https://www.github.com/jnlandu/">{ code }</a> Aura: AI-powered mobile app <br>
        A small mobile app developed with React Native and OpenAI APIs to generate human-like images. 
      </div>
</div>    
  
<!--  Events and news! -->
  
      <p><span class="h2 fs-5">Events and News</span>
      </p>

    {% for event in site.events limit:3 %}
      <div class="row  d-flex justify-content-center my-3 ">
        <!-- <div class="col-md-4 flex-fill mr-0  ">
          <a href="https://deeplearningindaba.com/2024/workshops/"> <img class="img-fluid" 
            src="{{ event.picture }}"
            > </a>
        </div> -->
        <div class="col-md-8 flex-fill me-0 border-primary">
        <h3 class="mb-0" > <a class=" yellow post-link" href="{{ event.url }}">{{ event.title }}</a></h3>
        <span class="yellow mt-1 post-content"> <svg  width="17" height="17" fill="#F90"><use xlink:href="#location"></use></svg> {{ event.location }}
          <svg  width="17" height="17" fill="#F90"><use xlink:href="#calendar"></use></svg> {{ event.date }}
        </span><br>
        <p class="mt-2">{{ event.description }}
        </p>
        <div class="d-flex justify-content-center">
        <a class=" bg-yellow text-center w-50 rounded-top rounded-bottom nav-link text-black mb-3" href="{{ event.url | relative_url }}">More<svg width="24" height="24" fill="#black"><use xlink:href="#read"></use></svg></a>  
        </div>

         

      </div>
      </div>
      {% endfor %}



      
      <!-- </div> -->

