<p class="text-white fs-5"> Do you appreciate my work? </p>

 <div class="pb-2 mb-2">
      <button type="button" class="contact-btn-mobile  btn btn-sm rounded  text-dark fs-5 bg-yellow mx-auto px-4 w-100"> 
        <svg  width="24" height="28" fill="#D9D9D9"><use xlink:href="#email"></use></svg> Contact me
      </button>
  </div>
  <p class="">
      <svg  width="24" height="24" fill="#D9D9D9"><use xlink:href="#email"></use></svg>
      <span class="fs-5 ">Do you want tricks and tutorials?</span> <br>
      Subscribe  to my newsletter to never miss a thing. Tricks, tutorials, snippets in your inbox.
  </p>
      <!--  Form  -->
  <form class="row d-flex justify-content-center align-items-center mb-3 ">
  <div class="input-group col-5 mb-3 flex-fill">
    <span class="input-group-text" id="basic-addon1">@</span>
    <input type="text" class="form-control text-center" placeholder="Your email address" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="col-5  flex-fill">
      <button type="button" class="btn bg-yellow text-dark  ps-5 w-100 fs-5" href="#">Subscribe</button>
  </div>
  <p><small class="fs-6">Worring  about your privacy? Your email is encrypted by our system. It will not be shared with 
    anyone.
  </small> 
  </p>
  </form>
  <!--  Social media  -->
  <div class="rs-other-device">
  <p><span  class="h2 fs-5 ">Follow me :</span> 
    <a class="mx-2 rs-click" href="https://x.com/ValentinMabiala"><svg  width="24" height="24" fill="#D9D9D9"><use xlink:href="#twitter"></use></svg></a>
    <a class="mx-2 rs-click" href="https://www.linkedin.com/in/jnlandu00a/"><svg  width="24" height="24" fill="#D9D9D9"><use xlink:href="#linkedin"></use></svg></a>
    <a class="mx-2 rs-click" href="https://x.com/ValentinMabiala"><svg  width="24" height="24" fill="#D9D9D9"><use xlink:href="#facebook"></use></svg></a>
    <a class="mx-2 rs-click" href="https://www.github.com/jnlandu"><svg  width="24" height="24" fill="#D9D9D9"><use xlink:href="#github"></use></svg> </a>
  </p>
  </div>

  <div class="">
        <p><span class="h2 fs-5">Tutorials and Courses </span>
          <!-- Curious to know what I do? Check out below  my projects and tutorials. -->
        </p>
        <!-- <p class="h2 fs-5">Tutorials</p> -->
        <div class="row  container-fluid d-flex justify-content-center ">
          <div class="col-md-4 flex-fill mr-0 my-1  ">
            <img class="img-fluid" src="{{ url_for('static', filename='html-1.jpg') }}">
          </div>
          <div class="col-md-8 flex-fill me-0 my-3 border-primary">
            <span class="yellow">FREE!</span>  HTML, CSS, and JavaScript for Wen Developpers.
          </div>
        </div>
        <div class="row container-fluid  d-flex justify-content-center my-3 ">
          <div class="col-md-4 flex-fill mr-0  ">
            <img class="img-fluid" src="{{ url_for('static', filename='flask-1.png')}}">
          </div>
          <div class="col-md-8 flex-fill me-0 border-primary">
            <span class="yellow">FREE!</span>  HTML, CSS, and JavaScript for Wen Developpers.
          </div>
        </div>

        <div class="row container-fluid d-flex justify-content-center my-3">
          <div class="col-md-4 flex-fill mr-0  ">
            <img class="img-fluid" src="{{ url_for('static', filename='react-native.png')}}">
          </div>
          <div class="col-md-8 flex-fill me-0 border-primary">
            <span class="yellow">FREE!</span> HTML, CSS, and JavaScript for Wen Developpers.
          </div>
        </div>
        <div class="row container-fluid  d-flex justify-content-center my-3">
          <div class="col-md-4 flex-fill mr-0  ">
            <img class="img-fluid" src="{{ url_for('static', filename='r-logo.png')}}">
          </div>
          <div class="col-md-8 flex-fill me-0 border-primary">
            <span class="yellow">FREE!</span> HTML, CSS, and JavaScript for Wen Developpers.
          </div>
        </div>
        <div class="row container-fluid d-flex justify-content-center my-3">
          <div class="col-md-4 flex-fill mr-0  ">
            <img class="img-fluid" src="{{ url_for('static', filename='fda-image.webp')}}">
          </div>
          <div class="col-md-8 flex-fill me-0 border-primary">
            <span class="yellow">FREE!</span> HTML, CSS, and JavaScript for Wen Developpers.
          </div>
        </div>
  </div>
  <!--  Projects  -->
<div class="">
      <p><span class="h2 fs-5">Projects </span>
        <!-- Curious to know what I do? Check out below  my projects and tutorials. -->
      </p>
      <!-- <p class="h2 fs-5">Tutorials</p> -->
      <div class="container-fluid my-3 ">
        <p><a class="code " href="https://www.github.com/jnlandu/">{ code }</a> Aura: AI-powered mobile app <br>
        A small mobile app developed with React Native and OpenAI APIs to generate human-like images. 
      </div>
      <div class="container-fluid my-3 ">
        <p><a class="code " href="https://www.github.com/jnlandu/">{ code }</a> Aura: AI-powered mobile app <br>
        A small mobile app developed with React Native and OpenAI APIs to generate human-like images. 
      </div>
      <div class="container-fluid my-3 ">
        <p><a class="code " href="https://www.github.com/jnlandu/">{ code }</a> Aura: AI-powered mobile app <br>
        A small mobile app developed with React Native and OpenAI APIs to generate human-like images. 
      </div>
</div>    
  
<!--  Events and news! -->
      <p><span class="h2 fs-5">Events and News</span>
      </p>
      <div class="row  d-flex justify-content-center my-3 ">
        <div class="col-md-4 flex-fill mr-0  ">
          <a href="https://deeplearningindaba.com/2024/workshops/"> <img class="img-fluid" src="{{ url_for('static', filename='indaba3.png') }}"> </a>
        </div>
        <div class="col-md-8 flex-fill me-0 border-primary">
        <p class="mb-0" > <a class=" yellow post-link" href="#">Deep Learning Indaba 2024</a></p>
        <span class="yellow mt-0 post-content"> <svg  width="17" height="17" fill="#F90"><use xlink:href="#location"></use></svg> Dakar, Senegal 
          <svg  width="17" height="17" fill="#F90"><use xlink:href="#calendar"></use></svg> 1 Sept.-7 Sept. 2024
        </span>
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus 
            sint impedit doloremque reprehenderit, facilis quo optio veritatis molestias .
          <!-- </p> -->

      </div>
      </div>


      <!--  Events 2 -->
      </p>
      <div class="row  d-flex justify-content-center my-3 ">
        <div class="col-md-4 flex-fill mr-0  ">
          <a href="https://www.uni-frankfurt.de/147012250/A_PIC_24"><img class="img-fluid" src="{{ url_for('static', filename='apic.png') }}"></a>
        </div>
        <div class="col-md-8 flex-fill me-0 border-primary">
        <p class="mb-0" > <a class=" yellow post-link" href="https://www.uni-frankfurt.de/147012250/A_PIC_24">Summer School: Probability, Information Theory, Combinatorics</a></p>
        <span class="yellow mt-0 post-content"> <svg  width="17" height="17" fill="#F90"><use xlink:href="#location"></use></svg> Kigali, Rwanda
          <svg  width="17" height="17" fill="#F90"><use xlink:href="#calendar"></use></svg> 12 Aug.-21 Aug. 2024
        </span>
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus 
            sint impedit doloremque reprehenderit, facilis quo optio veritatis molestias .
          <!-- </p> -->

      </div>
      </div>

      <!--  Events 3 -->
      </p>
      <div class="row  d-flex justify-content-center my-3 ">
        <div class="col-md-4 flex-fill mr-0  ">
          <a href="https://www.climatechange.ai/events/summer_school2024"> <img class="img-fluid" src="{{ url_for('static', filename='ccai.png') }}"></a>
        </div>
        <div class="col-md-8 flex-fill me-0 border-primary">
        <p class="mb-0" > <a class=" yellow post-link" >Climate Change AI Summer  School 2024</a></p>
        <span class="yellow mt-0 post-content"> <svg  width="17" height="17" fill="#F90"><use xlink:href="#location"></use></svg> Virtual, Worldwide
          <svg  width="17" height="17" fill="#F90"><use xlink:href="#calendar"></use></svg> 20 Jun. 24 - 05 Aug. 24
        </span>
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus 
            sint impedit doloremque reprehenderit, facilis quo optio veritatis molestias .
          <!-- </p> -->

      </div>
      </div>

