<div class="d-flex align-items-between mt-3 ">
    <p >Do you appreciate my work?</p>
  
    <button class="contact-btn-mobile  w-25 bg-yellow text-center rounded-top rounded-bottom nav-link text-black mb-3  ms-3" href="{{ event.url | relative_url }}">
          Contact me
    </button>  
  
  
    </div>
    
<p >
    <span class="yellow">Do you want tricks and tutorials? </span>
     <br>
      Subscribe  to my newsletter to never miss a thing. Tricks, tutorials, snippets in your inbox.
  </p>
      <!--  Form  -->
  <form class="row d-flex justify-content-center align-items-center mb-3 ">
  <div class="input-group col-5 mb-3 flex-fill">
    <span class="input-group-text" id="basic-addon1">@</span>
    <input type="text" class="form-control text-center" placeholder="Your email address" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="col-5  flex-fill">
      <button type="button" class="btn bg-yellow text-dark  ps-5 w-100" href="#">Subscribe</button>
  </div>
  <p><small class="fs-6">Worring  about your privacy? Your email is encrypted by our system. It will not be shared with 
    anyone.
  </small> 
  </p>
  </form>
  <!--  Social media  -->
  <div class="rs-other-device">
  <p><span  class="h2 fs-5 ">Follow me :</span> 
    <a class="mx-2 rs-click" href="https://x.com/ValentinMabiala"><svg  width="24" height="24" fill="#D9D9D9"><use xlink:href="#twitter"></use></svg></a>
    <a class="mx-2 rs-click" href="https://www.linkedin.com/in/jnlandu00a/"><svg  width="24" height="24" fill="#D9D9D9"><use xlink:href="#linkedin"></use></svg></a>
    <a class="mx-2 rs-click" href="https://x.com/ValentinMabiala"><svg  width="24" height="24" fill="#D9D9D9"><use xlink:href="#facebook"></use></svg></a>
    <a class="mx-2 rs-click" href="https://www.github.com/jnlandu"><svg  width="24" height="24" fill="#D9D9D9"><use xlink:href="#github"></use></svg> </a>
  </p>