---
layout: default
---

{{ content }}

<div class="row mx-auto">
    <div class="left-side-all-device container col-md-8 mb-1 ">
             <h1 class="h2 latest-posts mb-4">Latests posts </h1>
          <div class=" row  d-flex justify-content-center ">
            <div class="post-img-div-other-device col-md-4 ">
              <img class="img-fluid img-content " src="{{ url_for('static', filename='flask-1.png')}}">
            </div>
            <div class="post-content-div col-md-8">
            <h1 class="h1 mb-0"> <a class=" yellow post-link" href="#">Html and Css</a></h1>
              <span class="yellow mt-0 post-content"> <svg  width="17" height="17" fill="#F90"><use xlink:href="#time"></use></svg>  7 min read | 
                <svg  width="17" height="17" fill="#F90"><use xlink:href="#calendar"></use></svg> July 14, 2024 | by Jeremie Mabiala</span>
                <p class="post-context-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus 
                  sint impedit doloremque reprehenderit, facilis quo optio veritatis molestias 
                  autem sit amet magni laborum veniam corporis quam nostrum nam iure incidunt.
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed autem atque fuga quam 
                  ab architecto repudiandae amet perferendis, ea excepturi cupiditate nisi
                  dolorem? Earum error adipisci nobis, dignissimos culpa quidem?<br>
                  <a class="link" href="#">Read more<svg width="24" height="24" fill="#F90"><use xlink:href="#read"></use></svg></a>
              </p>
            </div>
          </div>


      </div>
      <!--  Right side  -->

      <div class="right-side-all-device container col-md-4 bg-dark mb-2 mt-0 ">
        {% include sidebar-modified.html %}

    </div>
    
</div>




